
<div class="contact-post">
  <div class="contact-post-contents">
    <ul class="contactlist">
      <li style="list-style-type: none;" id="contact-name">{{name}}</li>
      <li id="contact-title">{{title}}</li>
      <li id="contact-address">{{address}}</li>
      <li id="contact-phone">Phone: {{phone}}</li>
      <li id="contact-email">Email: {{email}}</li>
    </ul>
  </div>
</div>
