
<div class="home-post">
  <div class="home-post-contents">
    <h1 id="home-post-title">{{title}}</h1>
    <h3 id="home-post-time">{{date}} • {{name}}</h3>
    <div class="home-post-info-container">
      <p id="home-post-info">{{snipit}}</p>
    </div>
    <a class="read-more-button" href="/readmore/{{link}}">READ MORE</a>
  </div>
</div>
